<script src="/node_modules/angular/angular.js"></script>
<div class="container">
  <h1 class="text-center">Active Users</h1>
  <div class="row bg-light text-dark text-center">
      <h3 class="col">Search <i class="fa fa-search" aria-hidden="true"></i></h3>
  </div>
  <div class="bg-light row justify-content-center text-center">
    <div class="col">
      <div class="form-group">
        <label for="" class="d-block">Name</label>
        <input type="text" name="filterName" id="" class="form-control-sm" placeholder="Name" [(ngModel)]="filterName">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="" class="d-block">Email</label>
        <input type="text" name="" id="" class="form-control-sm" placeholder="Email Address" [(ngModel)]="filterEmail">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="" class="d-block">Number</label>
        <input type="text" name="" id="" class="form-control-sm" placeholder="Phone Number" [(ngModel)]="filterNumber">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="" class="d-block">Roles</label>
        <input type="text" name="" id="" class="form-control-sm text-lowercase" placeholder="Roles" [(ngModel)]="filterRoles">
      </div>
    </div>
  </div>
  <hr>
   <table class="table table-hover" ng-table="tableParams">
    <thead class="bg-info text-light">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Enable</th>
        <th>Roles</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of activeUser | filteruseractive: filterName:filterEmail">
        <td>{{item.name}}</td>
        <td>{{item.preferredEmail}}</td>
        <td>{{item.phoneNumber}}</td>
         <td *ngIf="item.enabled; else elseBlock">
            <input type="checkbox" id={{item.id}} checked=true (change)="toggleVisibility($event)">
        </td>
        <ng-template #elseBlock>
            <input type="checkbox" id={{item.id}} checked=false (change)="toggleVisibility($event)">
        </ng-template>
        <td id="roles">
          <!-- <span *ngFor="let role of item.roles" class="badge badge-pill badge-primary">{{role}}</span> -->
          <div class="form-group">
            <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
        </td>
        <td><button class="btn btn-link" (click)="assigmentUser(item)">Save</button></td>
      </tr>

    </tbody>
  </table>

</div>
