<script src="/node_modules/angular/angular.js"></script>
<div class="container">
  <h1 class="text-center">Active Users</h1>
  <!-- <table class="table table-hover" ng-table="tableParams">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>validated</th>
        <th>Roles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of activeUser">
        <td>{{item.name}}</td>
        <td>{{item.preferredEmail}}</td>
        <td *ngIf="currentState; else elseBlock">
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="valid" id="valid" value="checkedValue" checked>
                  True
                </label>
                <br>
                <label class="form-check-label" >
                  <input type="radio" class="form-check-input" name="valid" id="valid" value="checkedValue">
                  false
                </label>
              </div>
        </td>
        <ng-template #elseBlock>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="valid" id="valid" value="checkedValue">
                  True
                </label>
                <br>
                <label class="form-check-label" >
                  <input type="radio" class="form-check-input" name="valid" id="valid" value="checkedValue" checked>
                  false
                </label>
              </div>
        </ng-template>
        <td>{{item.roles}}</td>
      </tr>

    </tbody>
  </table> -->
  <div ng-init="friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]"></div>
                         <label>Any: <input ng-model="search.$"></label> <br>
                         <label>Name only <input ng-model="search.name"></label><br>
                         <label>Phone only <input ng-model="search.phone"></label><br>
                         <label>Equality <input type="checkbox" ng-model="strict"></label><br>
                         <table id="searchObjResults">
                           <tr><th>Name</th><th>Phone</th></tr>
                           <tr ng-repeat="friendObj in friends | filter:search:strict">
                             <td>{{friendObj.name}}</td>
                             <td>{{friendObj.phone}}</td>
                           </tr>
                         </table>

</div>
