.name {
  margin-right: 1em;
  color: white;
}

.teckers-color {
  background-color: rgb(94, 93, 156)
}

.logo {
  height: 50px;
}

.button-loggin{
  background-color:#8f8dfb;
}

.flag {
  width: 50px;
}
