<div class="container">
    <div class="row">

        <h1 class="text-center col-10">{{"DELIVERABLES"|translate}}</h1>
        <input type="search" name="filterPrograms" class="form-control col-2" placeholder='{{"SEARCH" | translate}}' [(ngModel)]="filterPrograms">
    </div>
    <div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Programs</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" (change)="getBachesbyPrograms()" [(ngModel)]="selectedProgram">
              <option *ngFor="let item of listPrograms" value={{item.id}}>{{item.name}}</option>
            </select>
        </div>


        <div class="row btn-group">
            <button type="button" class="btn btn-outline-info" (click)="isSelectedProgram = !isSelectedProgram" style="border-radius: 30px 0px 0px 0px;" *ngFor="let item of listBaches" (click)='getDeliverablesforBatch(item.id)'>{{item.name}}</button>
        </div>

        <div class="row border border-info" *ngIf="isSelectedProgram">
            <div class="card col-5 mr-3 mt-2">
                <div class="card-body">
                    <button type="button" *ngIf="!addingProgram" (click)='addingProgram = !addingProgram'><i
                  class="fa fa-plus-circle"></i></button>

                    <div *ngIf='addingProgram'>
                        <form class="formPrograms" action="">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{'TITLE' | translate}}</span>
                                </div>
                                <input class="form-control" required type="text" #name name="name" id="name" placeholder="{{'TITLE' | translate}}">
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{'DESCRIPTION' | translate}}</span>
                                </div>
                                <textarea class="form-control" #description required name="description" id="description" cols="20" rows="5" placeholder="Description"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Baches</label>
                                </div>
                                <select class="custom-select" name="batch" required [(ngModel)]="batchId">
                      <option value="{{batch.id}}" *ngFor="let batch of listBaches" >{{batch.name}}</option>
                    </select>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                <label class="custom-file-label" for="customFileLang">{{"SELECT_FILE" | translate}}</label>
                            </div>
                            <button type="button" (click)='addDeliverable(name.value, description.value);' class="btn btn-outline-success">{{'SAVE' | translate}}
                  </button>
                            <button type="button" (click)='addingProgram = false' class="btn btn-outline-danger mr-5">
                    {{'CANCEL' | translate}}
                  </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container was-validated">
                <div class="row">
                    <div *ngFor="let item of listDeliverables | filter:filterPrograms" class="card col-md-5  mt-2 mr-3" style="width: 18rem;">
                        <app-deliverable-card [deliverable]=item [listBatch]=listBaches>
                        </app-deliverable-card>
                    </div>
                </div>
            </div>

        </div>
        <!-- final del borde -->

    </div>
</div>
