<div class="container">
  <h1 class="text-center">{{"DELIVERABLES"|translate}}</h1>
  <div>

    <input type="search" name="filterPrograms" class="form-control" placeholder='{{"SEARCH" | translate}}'
      [(ngModel)]="filterPrograms">
    <div class="container was-validated">
      <div class="row">
        <!-- <div *ngFor="let item of listPrograms | filter:filterPrograms" class="card col-md-3  mt-2 mr-3"
      style="width: 18rem;">
      <app-program-card (programDeleted)="refreshPrograms()" [listUserRole]="listUserRole" [program]="item">
      </app-program-card>
    </div> -->

        <div class="card col-4 mr-3 mt-2">
          <div class="card-body">
            <button type="button" *ngIf="!addingProgram" (click)='addingProgram = !addingProgram'><i
                class="fa fa-plus-circle"></i></button>

            <div *ngIf='addingProgram'>
              <form class="formPrograms" action="">
                <div class="input-group  mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{'TITLE' | translate}}</span>
                  </div>
                  <input class="form-control" required type="text" #name name="name" id="name"
                    placeholder="{{'TITLE' | translate}}">
                </div>

                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{'DESCRIPTION' | translate}}</span>
                  </div>
                  <textarea class="form-control" #description required name="description" id="description" cols="20"
                    rows="5" placeholder="Description"></textarea>
                </div>

                <!-- <div *ngFor="let user of listUserRole">
                <input type="checkbox" [value]="user.isChecked" [checked]="user.isChecked"
                  (change)="$event.target.checked ? user.isChecked = true : user.isChecked = false"> {{user.name}}
              </div>-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Baches</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" required>
                    <option value="{{bach.id}}" *ngFor="let bach of listBaches">{{bach.name}}</option>
                  </select>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                  <label class="custom-file-label" for="customFileLang">{{"SELECT_FILE" | translate}}</label>
                </div>
                <button type="button" (click)='addDeliverable(name.value, description.value);'
                  class="btn btn-outline-success">{{'SAVE' | translate}}
                </button>
                <button type="button" (click)='addingProgram = false' class="btn btn-outline-danger mr-5">
                  {{'CANCEL' | translate}}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
