<div class="container">
  <div class="row Credentials justify-content-center ">
    <div class="text-center col-5">
        <label class="h2"><strong>Username</strong></label>
        <br>
        <img class="imgProfile" src="assets/default-user.png">

        <div class="form-group">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file" class="pointer btn btn-warning"><i class="fas fa-file-image"></i><strong>Cambiar imagen</strong></label>
        </div>
        <div >
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Number Phone</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
    </div>
  </div>
</div>
