<input type="search" name="filterBatch" class="form-control" placeholder="Search..." [(ngModel)]="filterBatch">

<h1 class="text-center">Batches</h1>
<div class="container">
    <div class="row">
        <div class="card col-md-5 mr-3 mt-2">
            <div class="card-body text-center alignVertical">
                <button class="btn" type="button" *ngIf="!addingBatch" (click)='addingBatch = !addingBatch'><i
              class="fa fa-plus plus"></i></button>
                <form class="was-validated" novalidate>
                    <div *ngIf="addingBatch">
                        <div class="input-group  mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{'NAME' | translate}}</span>
                                <input [(ngModel)]="batch.name" required class="form-control btn-lg btn-block" type="text" name="name" id="name">
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please fill the Field
                            </div>
                        </div>

                        <div class="input-group  mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{'START_DATE' | translate}}</span>
                            </div>
                            <input class="form-control" required style="width: 160px" [(ngModel)]="batch.startDate" type="date" name="startDate" id="startDate">
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                                {{'FIELDEMPTY' | translate}}
                            </div>
                        </div>

                        <div class="input-group  mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{'END_DATE' | translate}}</span>
                            </div>
                            <input class="form-control" required style="width: 160px" [(ngModel)]="batch.endDate" type="date" name="endDate" id="endDate">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                {{'FIELDEMPTY' | translate}}
                            </div>
                        </div>

                        <div class="input-group  mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{'NOTES' | translate}}</span>
                                <textarea required class="form-control btn-lg btn-block" [(ngModel)]="batch.notes" type="text" name="notes" id="notes"> </textarea>
                            </div>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                                {{'FIELDEMPTY' | translate}}
                            </div>
                        </div>

                        <div class="input-group  mb-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{'PROGRAMS' | translate}}</span>
                                <select required class="form-control btn-lg btn-block" name="program" [(ngModel)]="batch.programId">
                          <option *ngFor="let program of listPrograms" [value]="program.id">{{program.name}}</option>
                        </select>
                            </div>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                                {{'FIELDEMPTY' | translate}}
                            </div>
                        </div>

                        <button type="button" (click)='addBatch();' class="btn btn-outline-success btn-lg btn-block">Save
            </button>
                        <button type="button" (click)='addingBatch = false' class="btn btn-outline-danger btn-lg btn-block">
              Cancel
            </button>
                    </div>
                </form>
            </div>
        </div>
        <div *ngFor="let batch of listBatches | filter: filterBatch" class="card col-md-5 mr-3 mt-2">
            <app-batches-card (batchDeleted)="refreshBatches()" [batch]="batch" [listPrograms]="listPrograms"></app-batches-card>
        </div>

    </div>
</div>
