.card {
    background-color: #d3d3d3;
    padding: 0;
}

input[type="search"] {
    width: 20%;
    float: right;
}

.plus:hover {
    color: #5c5ba5;
}

.alignVertical {
    display: flex;
    justify-content: center;
}

.plus {
    font-size: 150px;
    color: rgb(143, 141, 251);
}