<h1>Batches</h1>
<div class="container">
  <div class="row">
    <div *ngFor="let batch of listBatches" class="card col-md-3  mt-2 mr-3" style="width: 18rem;">
          <app-batches-card [batch]= "batch" [listPrograms]= "listPrograms"></app-batches-card>
    </div>
    <div class="card col-md-3 mr-3 mt-2">
        <div class="card-body">
            <button type="button" *ngIf="!addingBatch" (click)='addingBatch = !addingBatch'><i
              class="fa fa-plus-circle"></i></button>
          <div *ngIf="addingBatch">

              <div class="input-group  mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">Name</span>
                      <input class="form-control" type="text" name="name" id="name">
                  </div>
              </div>

              <div class="input-group  mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">StartDate</span>
                      <input  class="form-control" [(ngModel)] = "batch.startDate" type="date" name="startDate" id="startDate"  >
                  </div>
              </div>

              <div class="input-group  mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">End</span>
                      <input  class="form-control" [(ngModel)] = "batch.endDate" type="date" name="endDate" id="endDate" >
                  </div>
              </div>

              <div class="input-group  mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">Notes</span>
                      <textarea class="form-control" [(ngModel)] = "batch.notes" type="text" name="notes" id="notes"> </textarea>
                  </div>
              </div>

              <div class="input-group  mb-2">
                  <div class="input-group-prepend">
                      <span class="input-group-text">Programs</span>
                      <select class="form-control" (ngModelChange)="selectChange()" [(ngModel)]="batch.programId">
                          <option *ngFor="let program of listPrograms" [value]="program.id">{{program.name}}</option>
                        </select>
                  </div>
              </div>

              <button type="button"
                    (click)='addBatch();'
                    class="btn btn-outline-success">Save
            </button>
            <button type="button" (click)='addingBatch = false' class="btn btn-outline-danger mr-5">
              Cancel
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
