footer {
 /* Altura total del footer en px con valor negativo */
  margin-top: -50px;
  /* Altura del footer en px. Se han restado los 5px del margen
     superior mas los 5px del margen inferior
  */
  padding:5px 0px;
  clear: both;
  background: #b8b9bb93;
  text-align: center;
  color: #fff;
  width:100%;
  position: absolute;
  bottom: 0 !important;
  bottom: -1px;
}

