<div class="container">
    <h1 class="text-center">{{"TITLE_INACTIVE"| translate}}</h1>
    <table class="table table-hover text-center">
        <thead class="header">
            <tr class="align-middle">
                <th>
                    <div class="form-group">
                        <label for="Sname" class="col-12 buttonsearch" id="Tname" (click)="searchName = !searchName">
              {{"NAME"| translate}} <i class="fa fa-search" aria-hidden="true"></i></label>
                        <input type="text" name="filterName" *ngIf="searchName" id="Sname" class="form-control-sm rounded-pill d-none" [(ngModel)]="filterName" />
                    </div>

                </th>
                <th>
                    <div class="form-group">
                        <label for="Sname" class="col-12 buttonsearch" id="Temail" (click)="clickEmail()"> {{"EMAIL"| translate}} <i
                class=" fa fa-search" aria-hidden="true"></i></label>
                        <input type="text" name="filterEmail" id="Semail" class="form-control-sm rounded-pill d-none" [(ngModel)]="filterEmail " />
                    </div>
                </th>
                <th class="align-top">{{"ENABLED"| translate}}</th>
                <th class="align-top">{{"ROLES"| translate}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listInactiveUser | filter: filterName:filterEmail">
                <td>{{item.name}}</td>
                <td>{{item.preferredEmail}}</td>
                <td *ngIf="item.enabled; else loggedOut">{{"ENABLED"| translate}}</td>
                <ng-template #loggedOut>
                    <td>{{"DISABLED"| translate}}</td>
                </ng-template>
                <td></td>
                <td>
                    <div>
                        <button class="btn btn-outline-success" id="buton" data-toggle="modal" data-target="#exampleModal" (click)="getSelectedUser(item)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog .modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="row text-center">
                    <div class="col-5">
                        <img style="width: 150px; border-radius: 150px" id="modalImage">
                    </div>
                    <div class="col-6">
                        <div class="row mt-3 justify-content-center">
                            <h5>{{"TITLE_MODAL"| translate}}</h5>
                            <ngx-tags-input class="form-control" [(ngModel)]="currentRoles" [options]="optionsRoles" [minLengthBeforeOptions]="2" [maxTags]="5" placeholder="will only match when 3 characters are typed" style="height:100px;">
                            </ngx-tags-input>
                            <small class="text-muted">{{'ROLES_EXAMPLE' | translate}}</small>
                        </div>
                        <div class="custom-control custom-switch" *ngIf="!isEnable; else elseBlock">
                            <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="isEnable">
                            <label class="custom-control-label" for="customSwitches"><strong>{{'DISABLED'|translate}}</strong></label>
                        </div>
                        <ng-template #elseBlock>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches" checked [(ngModel)]="isEnable">
                                <label class="custom-control-label" for="customSwitches"><strong>{{'ENABLED'|translate}}</strong></label>
                            </div>
                        </ng-template>
                        <hr>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"CLOSE"| translate}}</button>
                <button type="button" class="btn btn-primary" (click)="updateInactiveUser()" data-dismiss="modal">{{"SAVE"| translate}}</button>
            </div>
        </div>
    </div>
</div>