<div class="card-body">
  <!--Show the list of Programs-->
  <div *ngIf='!updatingProgram'>
    <h5 class="card-header text-center mb-2"> {{program.name}}</h5>
    <p class="card-text">{{program.description}}</p>
    <h6 class="card-subtitle text-muted">{{program.responsible}}</h6>
  </div>

  <!--Form to edit the information-->
  <div *ngIf='updatingProgram'>
    <form class="formPrograms" action="">
      <div class="input-group  mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input class="form-control" type="text" name="name" id="name" placeholder="Name" [(ngModel)]="program.name">
      </div>
      <div class="input-group  mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" name="description" [(ngModel)]="program.description" id="description" cols="20"
          rows="5" placeholder="Description"></textarea>
      </div>
      <div class="input-group  mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Responsible</span>
        </div>
        <input class="form-control" type="text" name="responsible" [(ngModel)]="program.responsible" id="responsible"
          placeholder="Responsible">
      </div>
      <button type="button" (click)='saveProgram()' class="btn btn-outline-success">Save
      </button>
      <button type="button" (click)='updatingProgram = false' class="btn btn-outline-danger">
        Cancel
      </button>
    </form>
  </div>

  <!--Form for dlete the program-->

  <div *ngIf='deletingProgram'>
    <p>¿Desea Eliminar este Programa?</p>
    <button type="button" (click)='deleteProgram();' class="btn btn-outline-success">Yes
    </button>
    <button type="button" (click)='deletingProgram = false' class="btn btn-outline-danger">
      No
    </button>
  </div>

  <button type="button" *ngIf='!updatingProgram' class="btn btn-light mt-5 mr-2"
    (click)='updatingProgram = !updatingProgram'><i class="fas fa-edit"></i></button>

  <button type="button" *ngIf='!deletingProgram && !updatingProgram' (click)='deletingProgram = !deletingProgram'
    class="btn btn-danger  mt-5"><i class="far fa-trash-alt"></i></button>
</div>
