<div class="card-body">
    <div *ngIf="!updatingBatch">
        <h4 class="card-header text-center mb-2">{{deliverable.title}}</h4>
        <p>{{deliverable.description}}</p>
        <small class="muted">{{batch}}</small>
    </div>

    <form class="was-validated" novalidate>
        <div *ngIf="updatingBatch">
            <div class="input-group  mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'NAME' | translate}}</span>
                    <input [(ngModel)]="deliverable.title" class="form-control" type="text" name="name" id="name">
                </div>
            </div>

            <div class="input-group  mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'NOTES' | translate}}</span>
                    <textarea class="form-control" [(ngModel)]="deliverable.description" type="text" name="notes" id="notes"> </textarea>
                </div>
            </div>

            <!-- <div class="input-group  mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{'PROGRAMS' | translate}}</span>
                    <select class="form-control" [(ngModel)]="batch.programId" name="program">
                      <option *ngFor="let program of listPrograms"  [value]="program.id">{{program.name}}</option>
                  </select>
                </div>
            </div> -->

            <button type="button" (click)="updateBatch();" class="btn btn-outline-success">Save
        </button>
            <button type="button" (click)='updatingBatch = false' class="btn btn-outline-danger mr-5">
          Cancel
        </button>
        </div>
    </form>

    <button type="button" *ngIf='!updatingBatch' (click)="updatingBatch = !updatingBatch" class="btn btn-light mt-5 mr-2"><i class="fa fa-edit"></i></button>

    <button type="button" *ngIf='!deletingBatch && !updatingBatch' class="btn btn-danger   mt-5" (click)="showAlertDelete()"><i class="fa fa-trash-o"></i></button>
</div>